# Use pip to install these requirements before installing waldo:
# pip install -r requirements.txt
#
# Note - uncomment the following line to have this also install waldo
# (Note the relative directory, must run pip from the correct relative directory.)
#-e ./
#

bottle>=0.12.5